
p	{
	color:#48f100
}
p	{
	text-decoration:underline
}
h1	{
	color:#315721
}
h1	{
	background-color:#48f100
}
h2	{
color:#315721
}
footer	{
	color:#375829
}
h1	{
font-size: 300%
}
nav	{
border-style: dotted
}
main	{
background-color:
}
footer	{
background-color:#48f100
}
body 	{ 
    background-color:#315721 
}
h2	{
position: relative 
}
nav	{
color:Yellow
}
nav	{
text-decoration:underline
}
main	{
background-color: #748f16
}
h2:	{
border-style:solid
}
h2:	{
 border-right-color:Green 
}
img	{

}

