p	{
	color:DarkOliveGreen
}
h1	{
	color:Blue
}
h2	{
color:Red
}
footer	{
	color:DarkOrange
}
xtArea
26	p	Value Error : font-st
p	{
border:10px solid red 	
}
h1	{
border:3px solid blue 
}
h2	{
border:17px solid black 
}
Footer	{
border:7px solid white 
}
p	{
font-style:italic
}
h1	{
font-size: 57%
}
h2	{
text-shadow: 2px 2px #00ef00
}
Footer	{
text-decoration: line-through 
}
h1	{
background-color: Yellow
}
h2	{
background-color: Pink
}
P	{
background-color:Orange
}
footer	{
background-color:Red
}
p	{
direction:rtl
}
footer	{
min-height:45px
}
footer	{
border-color: #33eeff
}
p	{
border-right-color: #ddef56
}
p	{
border-left-color: #ddef56
}
body	{
border-style: dotted
}
p	{
float: right
}
h2	{
margin: 7px 3px 5px 9px
}
body	{
border-bottom-color: yellow
}
p	{
border-top-style:double 
}
body 	{ 
    background: #00ff00 url("smiley.gif") no-repeat fixed center; 
}
p	{
	box-shadow: 10px 10px 7px #888888
}
h2	{
position: relative 
}
body	{
background: linear-gradient(to right, #ff0099 0%, #88ff99 100%);
}
footer	{
font-variant: small-caps
} 
