
p	{
	color:White
}
h1	{
	color:Yellow
}
h1	{
	background-color:Blue
}
h2	{
color:Black
}
footer	{
	color:White
}
h1	{
font-size: 300%
}
nav	{
text-decoration: line-through 
}
main	{
background-color:White
}
footer	{
background-color:Blue
}
body 	{ 
    background-color:red 
}
h2	{
position: relative 
}
nav	{
color:Yellow
}
nav	{
text-decoration:underline
}
main	{
background-color: White
}
h2:	{
border-style:solid
}
h2:	{
 border-right-color:Green 
}
p.foo	{
color:black
}


