h1	{
	color:red 
}
h2	{
color:Red
}
footer	{
	color:DarkOrange
}
p:	{
color:blue; 
}
p:	{
text-decoration: underline;
}
p:	{
border-top: dotted;
}
h1	{
border-bottom: solid #000000
}
h2	{
background-color: blue
}
h2	{
color:white
}
h3	{
background-color:blue
}
h3	{
color: white
}
body	{
background-color:LightPink
}
footer	{
font-size: 200%
}
footer	{
text-color:	{
blue
}
font-style:
}
h1	{
font-size: 400%
}
h2	{
text-shadow: 
}
h1	{
text-decoration: underline;
    -moz-text-decoration-color: black; 
    text-decoration-color: black;
}
h1	{
background-color: PowderBlue 
}
